{% extends 'base.html' %}
{% block body %}
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-6">
            <img src="{{getmovie.img.url}}"width="300" height="300">
        </div>
<div class="col-md-6">
     <h2>{{getmovie.name}}</h2>
     <h4>{{getmovie.desc}}</h4>
     <h6>{{getmovie.year}}</h6>
     <h6>{{getmovie.date}}</h6>
     <h6>{{getmovie.actor}}</h6>
     <h6>{{getmovie.category}}</h6>
     <h6><a href="{{getmovie.link}}" target="_blank">Trailer link</h6></a></h6>
      <a class="btn btn-warning" href="{% url 'update' getmovie.id %}">update</a>
     <a class="btn btn-danger" href="{% url 'delete' getmovie.id %}">delete</a> 
</div>
    </div>
</div>

{% endblock %}